<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Demo</servlet-name>
  	<display-name>Demo</display-name>
  	<description></description>
  	<servlet-class>com.slk.first.Demo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GenericServExample</servlet-name>
  	<display-name>GenericServExample</display-name>
  	<description></description>
  	<servlet-class>com.slk.first.GenericServExample</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletConfigEx</servlet-name>
  	<display-name>ServletConfigEx</display-name>
  	<description></description>
  	<servlet-class>com.slk.first.ServletConfigEx</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletContextEx</servlet-name>
  	<display-name>ServletContextEx</display-name>
  	<description></description>
  	<servlet-class>com.slk.first.ServletContextEx</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CookiesEx</servlet-name>
  	<display-name>CookiesEx</display-name>
  	<description></description>
  	<servlet-class>com.slk.session.CookiesEx</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SecondCookiesEx</servlet-name>
  	<display-name>SecondCookiesEx</display-name>
  	<description></description>
  	<servlet-class>com.slk.session.SecondCookiesEx</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>loginEx</servlet-name>
  	<display-name>loginEx</display-name>
  	<description></description>
  	<servlet-class>com.slk.login.loginEx</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.slk.login.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProfileServlet</servlet-name>
  	<display-name>ProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.slk.login.ProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DemoHidden</servlet-name>
  	<display-name>DemoHidden</display-name>
  	<description></description>
  	<servlet-class>com.slk.hidden.DemoHidden</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DemoHidden2</servlet-name>
  	<display-name>DemoHidden2</display-name>
  	<description></description>
  	<servlet-class>com.slk.hidden.DemoHidden2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DemoUrl</servlet-name>
  	<display-name>DemoUrl</display-name>
  	<description></description>
  	<servlet-class>com.slk.url.DemoUrl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DemoUrl2</servlet-name>
  	<display-name>DemoUrl2</display-name>
  	<description></description>
  	<servlet-class>com.slk.url.DemoUrl2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DemoSession</servlet-name>
  	<display-name>DemoSession</display-name>
  	<description></description>
  	<servlet-class>com.slk.httpsession.DemoSession</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DemoSession2</servlet-name>
  	<display-name>DemoSession2</display-name>
  	<description></description>
  	<servlet-class>com.slk.httpsession.DemoSession2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginHttp</servlet-name>
  	<display-name>LoginHttp</display-name>
  	<description></description>
  	<servlet-class>com.slk.loginHttpSession.LoginHttp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HttpLogout</servlet-name>
  	<display-name>HttpLogout</display-name>
  	<description></description>
  	<servlet-class>com.slk.loginHttpSession.HttpLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HttpProfile</servlet-name>
  	<display-name>HttpProfile</display-name>
  	<description></description>
  	<servlet-class>com.slk.loginHttpSession.HttpProfile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLogin</servlet-name>
  	<display-name>UserLogin</display-name>
  	<description></description>
  	<servlet-class>com.slk.practicaltest.UserLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NextPage</servlet-name>
  	<display-name>NextPage</display-name>
  	<description></description>
  	<servlet-class>com.slk.practicaltest.NextPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLogout</servlet-name>
  	<display-name>UserLogout</display-name>
  	<description></description>
  	<servlet-class>com.slk.practicaltest.UserLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddBook</servlet-name>
  	<display-name>AddBook</display-name>
  	<description></description>
  	<servlet-class>com.slk.practicaltest.AddBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Book2</servlet-name>
  	<display-name>Book2</display-name>
  	<description></description>
  	<servlet-class>com.slk.practicaltest.Book2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteBook</servlet-name>
  	<display-name>DeleteBook</display-name>
  	<description></description>
  	<servlet-class>com.slk.practicaltest.DeleteBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateBook</servlet-name>
  	<display-name>UpdateBook</display-name>
  	<description></description>
  	<servlet-class>com.slk.practicaltest.UpdateBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateBookData</servlet-name>
  	<display-name>UpdateBookData</display-name>
  	<description></description>
  	<servlet-class>com.slk.practicaltest.UpdateBookData</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Demo</servlet-name>
  	<url-pattern>/demo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GenericServExample</servlet-name>
  	<url-pattern>/gen</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletConfigEx</servlet-name>
  	<url-pattern>/ServletConfigEx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletContextEx</servlet-name>
  	<url-pattern>/ServletContextEx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CookiesEx</servlet-name>
  	<url-pattern>/CookiesEx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SecondCookiesEx</servlet-name>
  	<url-pattern>/SecondCookiesEx</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProfileServlet</servlet-name>
  	<url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginEx</servlet-name>
  	<url-pattern>/loginEx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DemoHidden</servlet-name>
  	<url-pattern>/DemoHidden</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DemoHidden2</servlet-name>
  	<url-pattern>/DemoHidden2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DemoUrl</servlet-name>
  	<url-pattern>/DemoUrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DemoUrl2</servlet-name>
  	<url-pattern>/DemoUrl2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DemoSession</servlet-name>
  	<url-pattern>/DemoSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DemoSession2</servlet-name>
  	<url-pattern>/DemoSession2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginHttp</servlet-name>
  	<url-pattern>/LoginHttp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HttpLogout</servlet-name>
  	<url-pattern>/HttpLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HttpProfile</servlet-name>
  	<url-pattern>/HttpProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLogin</servlet-name>
  	<url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NextPage</servlet-name>
  	<url-pattern>/NextPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLogout</servlet-name>
  	<url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddBook</servlet-name>
  	<url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Book2</servlet-name>
  	<url-pattern>/Book2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteBook</servlet-name>
  	<url-pattern>/DeleteBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateBook</servlet-name>
  	<url-pattern>/UpdateBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateBookData</servlet-name>
  	<url-pattern>/UpdateBookData</url-pattern>
  </servlet-mapping>
  
  
  </web-app>
